footer {
    margin-bottom: 2%;
    background-color: white;
}

@media screen and (min-width: 90px) and (max-width: 575px) {
    
    footer {
        margin-bottom: 8%;
        background-color: white;
    }
}